<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./productDetail.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <main>
        <div class="product-container">
            <div class="half first">
                <div class="images-container">
                    <div class="image-wrapper">
                        <div class="image">
                            <figure>
                                <img src="./1666286599043-.jpg" alt="">
                            </figure>
                            <figure>
                                <img src="./1666286599051-.jpg" alt="">
                            </figure>
                            <figure>
                                <img src="./1666286894662-.jpg" alt="">
                            </figure>
                        </div>
                    </div>
                    <div class="subimages-container">
                        <div class="subimage-wrapper">
                            <div class="subimage">
                                <figure data-id="1">
                                    <img src="./1666286599043-.jpg" alt="">
                                </figure>
                            </div>
                        </div>
                        <div class="subimage-wrapper">
                            <div class="subimage">
                                <figure data-id="2">
                                    <img src="./1666286599051-.jpg" alt="">
                                </figure>
                            </div>
                        </div>
                        <div class="subimage-wrapper">
                            <div class="subimage">
                                <figure data-id="3">
                                    <img src="./1666286894662-.jpg" alt="">
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="half second">
                <div class="title-wrapper">
                    <div class="title">
                        <h2>Nombre del producto</h2>
                    </div>
                    <div class="brand">
                        <p>NOMBRE DE LA MARCA</p>
                    </div>
                </div>
                <div class="details-container">
                    <div class="detail-wrapper">
                        <div class="detail description">
                            <p><b>Descripción</b></p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet a consequuntur quis eos similique dolores ab eum repellat, dignissimos possimus?</p>
                        </div>
                    </div>
                    <div class="detail-wrapper">
                        <div class="detail colors">
                            <p><b>Colores</b></p>
                            <div class="colors-two">
                                <figure width="25px" height="25px" style="background-color:#3979b9; margin-right:5px"></figure>
                                <figure width="25px" height="25px" style="background-color:#2eb9b0; margin:0px 5px"></figure>
                                <figure width="25px" height="25px" style="background-color:#32c053; margin:0px 5px"></figure>
                                <figure width="25px" height="25px" style="background-color:#c0b42d; margin-left:5px"></figure>
                            </div>
                        </div>
                    </div>
                    <div class="detail-wrapper">
                        <div class="detail category">
                            <i class="fa-solid fa-circle-check"></i> <p><b>Categoría(s):</b> Apparel, Remeras, Algo</p>
                        </div>
                    </div>
                    <div class="detail-wrapper">
                        <div class="detail sku">
                            <i class="fa-solid fa-circle-check"></i> <p><b>SKU:</b> MGS1754</p>
                        </div>
                    </div>
                    <div class="detail-wrapper">
                        <div class="detail stock">
                            <i class="fa-solid fa-circle-check"></i> <p><b>Disponbilidad:</b> En Stock</p>
                        </div>
                    </div>
                    <div class="detail-wrapper">
                        <div class="detail quantity">
                            <i class="fa-solid fa-circle-check"></i> <p><b>Cantidad mínima:</b> 100 unidades</p>
                        </div>
                    </div>
                </div>
                <div class="btn-wrapper">
                    <div class="btn">
                        <button>PRESUPUESTAR</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="related-products-container">
            <div class="related-products-title-wrapper">
                <div class="related-products-title">
                    <h2>Productos relacionados</h2>
                </div>
            </div>
            <div class="btns">
                <div class="boto back">
                    <button><i class="fa-solid fa-caret-left"></i></button>
                </div>
                <div class="boto forward">
                    <button><i class="fa-solid fa-caret-right"></i></button>
                </div>
            </div>
            <div class="related-products">
                <div class="related-product-wrapper">
                    <div class="product-wrapper">
                        <div class="product">
                            <a href="/">
                                <div class="product-middle-wrapper">
                                    <!-- IMAGEN -->
                                    <div class="product-image-wrapper">
                                        <div class="product-image">
                                            <figure>
                                                <img src="./image2.jpg" alt="">
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-bottom-wrapper">
                                    <div class="product-titles-wrapper">
                                        <div class="product-title header-text">
                                            <p>Product one</p>
                                        </div>
                                        <div class="product-title secondary-text">
                                            <p>Brand 1</p>
                                        </div>
                                    </div>
                                    <div class="product-description">
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In distinctio voluptate totam dolore fuga temporibus, sed natus voluptatum amet aspernatur.</p>
                                    </div>
                                    <div class="product-budget-btn">
                                        <button class="cotizar-button budget-btn">
                                            <p>Presupuestar</p>
                                        </button>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="related-product-wrapper">
                    <div class="product-wrapper">
                        <div class="product">
                            <a href="/">
                                <div class="product-middle-wrapper">
                                    <!-- IMAGEN -->
                                    <div class="product-image-wrapper">
                                        <div class="product-image">
                                            <figure>
                                                <img src="./image3.jpg" alt="">
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-bottom-wrapper">
                                    <div class="product-titles-wrapper">
                                        <div class="product-title header-text">
                                            <p>Product two</p>
                                        </div>
                                        <div class="product-title secondary-text">
                                            <p>Brand 2</p>
                                        </div>
                                    </div>
                                    <div class="product-description">
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In distinctio voluptate totam dolore fuga temporibus, sed natus voluptatum amet aspernatur.</p>
                                    </div>
                                    <div class="product-budget-btn">
                                        <button class="cotizar-button budget-btn">
                                            <p>Presupuestar</p>
                                        </button>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="related-product-wrapper">
                    <div class="product-wrapper">
                        <div class="product">
                            <a href="/">
                                <div class="product-middle-wrapper">
                                    <!-- IMAGEN -->
                                    <div class="product-image-wrapper">
                                        <div class="product-image">
                                            <figure>
                                                <img src="./image4.jpg" alt="">
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-bottom-wrapper">
                                    <div class="product-titles-wrapper">
                                        <div class="product-title header-text">
                                            <p>Product three</p>
                                        </div>
                                        <div class="product-title secondary-text">
                                            <p>Brand 3</p>
                                        </div>
                                    </div>
                                    <div class="product-description">
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In distinctio voluptate totam dolore fuga temporibus, sed natus voluptatum amet aspernatur.</p>
                                    </div>
                                    <div class="product-budget-btn">
                                        <button class="cotizar-button budget-btn">
                                            <p>Presupuestar</p>
                                        </button>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="related-product-wrapper">
                    <div class="product-wrapper">
                        <div class="product">
                            <a href="/">
                                <div class="product-middle-wrapper">
                                    <!-- IMAGEN -->
                                    <div class="product-image-wrapper">
                                        <div class="product-image">
                                            <figure>
                                                <img src="./image2.jpg" alt="">
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-bottom-wrapper">
                                    <div class="product-titles-wrapper">
                                        <div class="product-title header-text">
                                            <p>Product four</p>
                                        </div>
                                        <div class="product-title secondary-text">
                                            <p>Brand 4</p>
                                        </div>
                                    </div>
                                    <div class="product-description">
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In distinctio voluptate totam dolore fuga temporibus, sed natus voluptatum amet aspernatur.</p>
                                    </div>
                                    <div class="product-budget-btn">
                                        <button class="cotizar-button budget-btn">
                                            <p>Presupuestar</p>
                                        </button>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="related-product-wrapper">
                    <div class="product-wrapper">
                        <div class="product">
                            <a href="/">
                                <div class="product-middle-wrapper">
                                    <!-- IMAGEN -->
                                    <div class="product-image-wrapper">
                                        <div class="product-image">
                                            <figure>
                                                <img src="./image3.jpg" alt="">
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-bottom-wrapper">
                                    <div class="product-titles-wrapper">
                                        <div class="product-title header-text">
                                            <p>Product five</p>
                                        </div>
                                        <div class="product-title secondary-text">
                                            <p>Brand 5</p>
                                        </div>
                                    </div>
                                    <div class="product-description">
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In distinctio voluptate totam dolore fuga temporibus, sed natus voluptatum amet aspernatur.</p>
                                    </div>
                                    <div class="product-budget-btn">
                                        <button class="cotizar-button budget-btn">
                                            <p>Presupuestar</p>
                                        </button>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="related-product-wrapper">
                    <div class="product-wrapper">
                        <div class="product">
                            <a href="/">
                                <div class="product-middle-wrapper">
                                    <!-- IMAGEN -->
                                    <div class="product-image-wrapper">
                                        <div class="product-image">
                                            <figure>
                                                <img src="./image4.jpg" alt="">
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-bottom-wrapper">
                                    <div class="product-titles-wrapper">
                                        <div class="product-title header-text">
                                            <p>Product six</p>
                                        </div>
                                        <div class="product-title secondary-text">
                                            <p>Brand 6</p>
                                        </div>
                                    </div>
                                    <div class="product-description">
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In distinctio voluptate totam dolore fuga temporibus, sed natus voluptatum amet aspernatur.</p>
                                    </div>
                                    <div class="product-budget-btn">
                                        <button class="cotizar-button budget-btn">
                                            <p>Presupuestar</p>
                                        </button>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="related-product-wrapper">
                    <div class="product-wrapper">
                        <div class="product">
                            <a href="/">
                                <div class="product-middle-wrapper">
                                    <!-- IMAGEN -->
                                    <div class="product-image-wrapper">
                                        <div class="product-image">
                                            <figure>
                                                <img src="./image2.jpg" alt="">
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-bottom-wrapper">
                                    <div class="product-titles-wrapper">
                                        <div class="product-title header-text">
                                            <p>Product seven</p>
                                        </div>
                                        <div class="product-title secondary-text">
                                            <p>Brand 7</p>
                                        </div>
                                    </div>
                                    <div class="product-description">
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In distinctio voluptate totam dolore fuga temporibus, sed natus voluptatum amet aspernatur.</p>
                                    </div>
                                    <div class="product-budget-btn">
                                        <button class="cotizar-button budget-btn">
                                            <p>Presupuestar</p>
                                        </button>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="related-product-wrapper">
                    <div class="product-wrapper">
                        <div class="product">
                            <a href="/">
                                <div class="product-middle-wrapper">
                                    <!-- IMAGEN -->
                                    <div class="product-image-wrapper">
                                        <div class="product-image">
                                            <figure>
                                                <img src="./image3.jpg" alt="">
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-bottom-wrapper">
                                    <div class="product-titles-wrapper">
                                        <div class="product-title header-text">
                                            <p>Product eight</p>
                                        </div>
                                        <div class="product-title secondary-text">
                                            <p>Brand 28</p>
                                        </div>
                                    </div>
                                    <div class="product-description">
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In distinctio voluptate totam dolore fuga temporibus, sed natus voluptatum amet aspernatur.</p>
                                    </div>
                                    <div class="product-budget-btn">
                                        <button class="cotizar-button budget-btn">
                                            <p>Presupuestar</p>
                                        </button>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="related-product-wrapper">
                    <div class="product-wrapper">
                        <div class="product">
                            <a href="/">
                                <div class="product-middle-wrapper">
                                    <!-- IMAGEN -->
                                    <div class="product-image-wrapper">
                                        <div class="product-image">
                                            <figure>
                                                <img src="./image4.jpg" alt="">
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-bottom-wrapper">
                                    <div class="product-titles-wrapper">
                                        <div class="product-title header-text">
                                            <p>Product nine</p>
                                        </div>
                                        <div class="product-title secondary-text">
                                            <p>Brand 9</p>
                                        </div>
                                    </div>
                                    <div class="product-description">
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In distinctio voluptate totam dolore fuga temporibus, sed natus voluptatum amet aspernatur.</p>
                                    </div>
                                    <div class="product-budget-btn">
                                        <button class="cotizar-button budget-btn">
                                            <p>Presupuestar</p>
                                        </button>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="related-product-wrapper">
                    <div class="product-wrapper">
                        <div class="product">
                            <a href="/">
                                <div class="product-middle-wrapper">
                                    <!-- IMAGEN -->
                                    <div class="product-image-wrapper">
                                        <div class="product-image">
                                            <figure>
                                                <img src="./image2.jpg" alt="">
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-bottom-wrapper">
                                    <div class="product-titles-wrapper">
                                        <div class="product-title header-text">
                                            <p>Product ten</p>
                                        </div>
                                        <div class="product-title secondary-text">
                                            <p>Brand 10</p>
                                        </div>
                                    </div>
                                    <div class="product-description">
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In distinctio voluptate totam dolore fuga temporibus, sed natus voluptatum amet aspernatur.</p>
                                    </div>
                                    <div class="product-budget-btn">
                                        <button class="cotizar-button budget-btn">
                                            <p>Presupuestar</p>
                                        </button>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="related-product-wrapper">
                    <div class="product-wrapper">
                        <div class="product">
                            <a href="/">
                                <div class="product-middle-wrapper">
                                    <!-- IMAGEN -->
                                    <div class="product-image-wrapper">
                                        <div class="product-image">
                                            <figure>
                                                <img src="./image3.jpg" alt="">
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-bottom-wrapper">
                                    <div class="product-titles-wrapper">
                                        <div class="product-title header-text">
                                            <p>Product eleven</p>
                                        </div>
                                        <div class="product-title secondary-text">
                                            <p>Brand 11</p>
                                        </div>
                                    </div>
                                    <div class="product-description">
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In distinctio voluptate totam dolore fuga temporibus, sed natus voluptatum amet aspernatur.</p>
                                    </div>
                                    <div class="product-budget-btn">
                                        <button class="cotizar-button budget-btn">
                                            <p>Presupuestar</p>
                                        </button>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="related-product-wrapper">
                    <div class="product-wrapper">
                        <div class="product">
                            <a href="/">
                                <div class="product-middle-wrapper">
                                    <!-- IMAGEN -->
                                    <div class="product-image-wrapper">
                                        <div class="product-image">
                                            <figure>
                                                <img src="./image4.jpg" alt="">
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-bottom-wrapper">
                                    <div class="product-titles-wrapper">
                                        <div class="product-title header-text">
                                            <p>Product twelve</p>
                                        </div>
                                        <div class="product-title secondary-text">
                                            <p>Brand 12</p>
                                        </div>
                                    </div>
                                    <div class="product-description">
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In distinctio voluptate totam dolore fuga temporibus, sed natus voluptatum amet aspernatur.</p>
                                    </div>
                                    <div class="product-budget-btn">
                                        <button class="cotizar-button budget-btn">
                                            <p>Presupuestar</p>
                                        </button>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="related-product-wrapper">
                    <div class="product-wrapper">
                        <div class="product">
                            <a href="/">
                                <div class="product-middle-wrapper">
                                    <!-- IMAGEN -->
                                    <div class="product-image-wrapper">
                                        <div class="product-image">
                                            <figure>
                                                <img src="./image2.jpg" alt="">
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-bottom-wrapper">
                                    <div class="product-titles-wrapper">
                                        <div class="product-title header-text">
                                            <p>Product thirteen</p>
                                        </div>
                                        <div class="product-title secondary-text">
                                            <p>Brand 13</p>
                                        </div>
                                    </div>
                                    <div class="product-description">
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In distinctio voluptate totam dolore fuga temporibus, sed natus voluptatum amet aspernatur.</p>
                                    </div>
                                    <div class="product-budget-btn">
                                        <button class="cotizar-button budget-btn">
                                            <p>Presupuestar</p>
                                        </button>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="related-product-wrapper">
                    <div class="product-wrapper">
                        <div class="product">
                            <a href="/">
                                <div class="product-middle-wrapper">
                                    <!-- IMAGEN -->
                                    <div class="product-image-wrapper">
                                        <div class="product-image">
                                            <figure>
                                                <img src="./image3.jpg" alt="">
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-bottom-wrapper">
                                    <div class="product-titles-wrapper">
                                        <div class="product-title header-text">
                                            <p>Product fourteen</p>
                                        </div>
                                        <div class="product-title secondary-text">
                                            <p>Brand 14</p>
                                        </div>
                                    </div>
                                    <div class="product-description">
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In distinctio voluptate totam dolore fuga temporibus, sed natus voluptatum amet aspernatur.</p>
                                    </div>
                                    <div class="product-budget-btn">
                                        <button class="cotizar-button budget-btn">
                                            <p>Presupuestar</p>
                                        </button>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="related-product-wrapper">
                    <div class="product-wrapper">
                        <div class="product">
                            <a href="/">
                                <div class="product-middle-wrapper">
                                    <!-- IMAGEN -->
                                    <div class="product-image-wrapper">
                                        <div class="product-image">
                                            <figure>
                                                <img src="./image4.jpg" alt="">
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-bottom-wrapper">
                                    <div class="product-titles-wrapper">
                                        <div class="product-title header-text">
                                            <p>Product fifteen</p>
                                        </div>
                                        <div class="product-title secondary-text">
                                            <p>Brand 15</p>
                                        </div>
                                    </div>
                                    <div class="product-description">
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In distinctio voluptate totam dolore fuga temporibus, sed natus voluptatum amet aspernatur.</p>
                                    </div>
                                    <div class="product-budget-btn">
                                        <button class="cotizar-button budget-btn">
                                            <p>Presupuestar</p>
                                        </button>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="related-product-wrapper">
                    <div class="product-wrapper">
                        <div class="product">
                            <a href="/">
                                <div class="product-middle-wrapper">
                                    <!-- IMAGEN -->
                                    <div class="product-image-wrapper">
                                        <div class="product-image">
                                            <figure>
                                                <img src="./image2.jpg" alt="">
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-bottom-wrapper">
                                    <div class="product-titles-wrapper">
                                        <div class="product-title header-text">
                                            <p>Product sixteen</p>
                                        </div>
                                        <div class="product-title secondary-text">
                                            <p>Brand 16</p>
                                        </div>
                                    </div>
                                    <div class="product-description">
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In distinctio voluptate totam dolore fuga temporibus, sed natus voluptatum amet aspernatur.</p>
                                    </div>
                                    <div class="product-budget-btn">
                                        <button class="cotizar-button budget-btn">
                                            <p>Presupuestar</p>
                                        </button>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- 
    <main>
        <div class="main-container">
            <div class="product-container">
                <div class="top">
                    <div class="top-first-half">
                        <div class="product-imgs">
                            <div class="img-display">
                                <div class="img-showcase">
                                    <figure>
                                        <img src="./1666286599043-.jpg" width="550px" height="550px" alt="">
                                    </figure>
                                    <figure>
                                        <img src="./1666286599051-.jpg" width="550px" height="550px" alt="">
                                    </figure>
                                    <figure>
                                        <img src="./1666286894662-.jpg" width="550px" height="550px" alt="">
                                </div>
                            </div>
                            <div class="img-select">
                                <div class="img-item">
                                    <a href="" data-id="<%= a+1 %>">
                                        <img class="image-b" src="./1666286599043-.jpg" alt="">
                                    </a>
                                </div>
                                <div class="img-item">
                                    <a href="" data-id="<%= a+1 %>">
                                        <img class="image-b" src="./1666286599051-.jpg" alt="">
                                    </a>
                                </div>
                                <div class="img-item">
                                    <a href="" data-id="<%= a+1 %>">
                                        <img class="image-b" src="./1666286894662-.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="top-second-half">
                        <div class="title-container">
                            <h2 class="title">Producto Ejemplo</h2>
                        </div>
                        <div class="line"></div>
                        <div class="brand-container">
                            <p>
                                <b>
                                    <a href="/catalogo/brand/<%= brands[b].name %>">Productos Lorem Ipsum></a>
                                </b>
                            </p>
                        </div>
                        <input class="SKU" type="number" value="<%= product.SKU %>" hidden>
                        <div class="description-container">
                            <h3>Descripción</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam accusantium corporis accusamus quod veniam. Ipsa similique alias facilis corrupti deleniti.</p>
                            <input class="minimum-required" type="number" value="<%= product.minimum_required %>" hidden>
                        </div>
                        <div class="ok-container">
                            <div class="ok">
                                <i class="fa-solid fa-circle-check"></i>
                                <p>Color/es: Negro, Blanco, Azul, y Rojo</p>
                            </div>
                            <div class="ok">
                                <i class="fa-solid fa-circle-check"></i>
                                <p>Disponibilidad: En Stock</p>
                            </div>
                            <div class="ok">
                                <i class="fa-solid fa-circle-check"></i>
                                <p>Cantidad mínima: 100 unidades</p>
                            </div>
                            <div class="ok">
                                <i class="fa-solid fa-circle-check"></i>
                                <p>Categorías: </p>
                                <a href="/catalogo/<%= categories[i].title %>/1">Categoría 1</a>
                                <a href="/catalogo/<%= categories[i].title %>/1">Categoría 2</a>
                                <a href="/catalogo/<%= categories[i].title %>/1">Categoría 3</a>
                            </div>
                            <div class="mgs">
                                <p><b>MGS: 1154</p>
                            </div>
                        </div>
                        
                        <div class="btn-container">
                            <button class="detail-budget-btn budget-btn" data-id="<%= product.id %>">
                                Presupuestar
                            </button>
                        </div>
                    </div>
                </div>
                <div class="bottom">
                    <div class="bottom-container">
                        <h2>ACÁ VAN PRODUCTOS RECOMENDADOS/RELACIONADOS</h2>
                    </div>
                </div>
            </div>
        </div>
    </main>
    -->
    <script src="./photo.js"></script>
</body>
</html>