:root{
    --m1:#9a47f4;
    --m1a:#610cbb;
    --m1b:#d3bfe7;
    --m2:#FEB129;
    --m2a:#ffbe4d;
    --m3:#66a6d9;
    --m4:#e365c1;
    --m4a:#ffdbf5;
    --m5:#3b3c47;
    --m5a:#4d5061;
    --m5b:#dddee6;
}

/* MOBILE */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color:black;
}

li{
    list-style: none;
}


h3{
    color:var(--m5);
    font-size:30px;
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
}

body{
    font-family: 'Dosis', sans-serif;
}

body::-webkit-scrollbar {
    width: 0;
}

body::-webkit-scrollbar-thumb {
    outline: 1px solid rgba(112, 128, 144, 0.466);
}

main{
    margin-top:90px;
    padding-top:20px;
    min-height:100vh;
    min-width:360px;
    width:100%;
    max-width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background:rgb(248, 248, 248)
}

.text-danger{
    color:red;
}

.main-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
}

.product{
    background:white;
}

a{
    text-decoration: none;
    color:black;
}

li{
    list-style: none;
}

p{
    margin:0;
}

.product-container{
    width:100%;
    max-width:540px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*--First Half--*/

.first{
    width:100%;
    padding-bottom:30px;
}

/* Imágenes */

.images-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-wrapper{
    display:flex;
    justify-content: center;
    align-items: center;
    overflow:hidden;
    width:80vw;
    height:80vw;
    max-width:500px;
    max-height:500px;
    margin:20px 0;
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.2);
}

.subimages-container{
    width:fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subimage-wrapper{
    width:fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image{
    display: flex;
    width:80vw;
    height:80vw;
    max-width:500px;
    max-height:500px;
    transition: all 0.5s ease;
}

.image figure{
    width:80vw;
    height:80vw;
    max-width:500px;
    max-height:500px;
    margin:0;
    background:black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image figure img{
    width:80vw;
    height:80vw;
    max-width:500px;
    max-height:500px;

}

.subimage figure{
    margin:0 7px;
    width:20vw;
    height:20vw;
    max-width:140px;
    max-height:140px;
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.2);
    overflow:hidden;
}

.subimage figure:hover{
    box-shadow: 0px 0px 2px 1px #ffbe4d;
}

.subimage figure img{
    margin:0;
    width:20vw;
    height:20vw;
    max-width:140px;
    max-height:140px;
    cursor:pointer;
    transition:0.8s;
}

.subimage figure img:hover{
    transform: scale(1.1);
}

/*--Second Half--*/

.second{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-right:auto;
    margin-left:auto;
    padding:0 12px;
}

/* Name & Brand */

.title-wrapper{
    margin-top:20px
}

.title{
    margin-bottom:5px
}

.title h2{
    margin:0;
    font-size:25px;
    text-transform: uppercase;
}

.brand{
    width:fit-content;
    padding:4px 7px;
    background: var(--m2);
}

.brand p{
    margin:0;
    font-size:14px;
    font-weight:600;
    letter-spacing:0.5px;
    color:white;
}

/* Details */

.details-container{
    width:100%;
    margin-top:20px;
}

.detail-wrapper{
    width:100%;
    margin:10px 0
}

.detail{
    width:100%;
    display:flex;
    align-items: center;
    font-size:19px
}

.detail p:first-child{
    width:130px;
    margin-right:20px;
}

.description p:first-child{
    width:100%;
    margin-right:0;
    margin:5px 0;
}

.colors-two{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.colors-two figure{
    margin:0;
    width:25px;
    height:25px;
    
    border-radius:100%;
}

.btn-wrapper{
    width:100%;
    display: flex;
    justify-content:center;
    align-items: center;
    margin:20px 0;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn button{
    padding:20px 100px;
    font-size:14px;
    font-weight:700;
    letter-spacing: 1.3px;
    border:none;
    border-radius:30px;
    color:white;
    background-color:var(--m1);
    margin-right:13px;
    margin-bottom:5px;
}

/* Related Products*/

.product-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:5px;
    margin:5px;
}

.product-wrapper:first-child{
    margin-left:0px;
    padding-left:0px
}

.product{
    border:1px solid rgba(0, 0, 0, 0.1);
    border-radius:4px;
    display: flex;
    justify-content: center;
    align-items: center;
    width:252px;
    max-width:340px;
    margin-left:3px;
    transition:0.8s;
}

.product:hover{
    transform: scale(1.005);
    box-shadow: 3px 4px 6px -1px rgba(0,0,0,0.4);
}

.product a{
    width:252px;
    max-width:340px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-titles-wrapper{
    margin-bottom:10px;
}

.header-text{
    font-size:20px;
    font-weight:900;
}

.header-text p{
    width:200px;
    max-width:340px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    margin-bottom:3px;
    margin-left:-15px;
    transition:0.8s
}

.secondary-text p{
    font-size:14px;
    width:200px;
    max-width:340px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top:3px;
    margin-left:-10px;
    color:rgb(112, 112, 112);
    transition:0.8s
}

.product:hover .header-text p{
    color:rgb(170, 26, 192)
}

.product:hover .secondary-text p{
    color:rgba(171,80,185,1)
}

.product-middle-wrapper{
    width:101%;
}

.product-image-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:200px
}

.product-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
}

.product-image figure{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#8e76ad;
    width:80%;
    border-radius:8px;
    height:170px;
    transition:0.8s;
}

.product:hover .product-image figure{
    background-color:#fac274;
}

.product img{
    position:absolute;
    width:150px;
    height:150px;
}

.product-bottom-wrapper{
    margin:5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
}

.product-description{
    display:flex;
    justify-content: center;
    align-items: center;
    margin:0 3px;
    height:0px;
    visibility:hidden;
    width:80%;
    overflow: hidden;
    background-color: #fac274;
    padding:0;
    border-radius:4px;
    transition:1s;
}

.product:hover .product-description{
    height:70px;
    padding:5px 10px;
    visibility: visible;
    color:#ffffff;
    background-color: #fac274;
}

.product-description p{
    font-size:11px;
}

.product-budget-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:10px 2px 3px 2px;
    width:100%;
}

.cotizar-button{
    width:95%;
    font-size:14px;
    font-weight:600;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:6px 0;
    border-radius:6px;
    background: var(--m1)/*linear-gradient(313deg, var(--m) 0%, var(--n) 100%)*/;
    color:white;
    border:none;
    cursor:pointer;
    transition: 0.8s;
}

.product:hover .cotizar-button{
    background:var(--m2);
    /*background: linear-gradient(313deg, rgba(171,80,185,1) 0%, rgba(125,80,185,1) 100%);*/
}

.btns{
    position:relative;
}

.boto{
    display:flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    z-index:10;
    bottom:-190px
}

.back{
    left:-175px
}

.forward{
    right:-175px
}

.boto button{
    width:45px;
    height:45px;
    border-radius:100%;
    border:1px solid rgba(0, 0, 0, 0.1);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 2px 7px 0px;
    background:white;
    color:var(--m1);
    font-size:40px;
    cursor:pointer;
    transition:1.2s;
}

.boto button:hover{
    border:1px solid rgba(0, 0, 0, 0.2);
    box-shadow: rgba(100, 100, 111, 0.6) 0px 2px 15px 0px;
}

.disabled{
    background:black
}

.related-products-container{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.related-products-title-wrapper, .related-products{
    width:91%;
}

.related-products-title-wrapper{
    display:flex;
    justify-content: center;
    align-items: center;
}

.related-product-wrapper{
    transition:0.2s;
}

.related-products{
    display:flex;
    width:260px;
    max-width:260px;
    overflow: hidden;
}

@media (min-width: 650px){

    /* Related Products */
    .back{
        left:-320px
    }
    
    .forward{
        right:-320px
    }

    .related-products{
        width:527px;
        max-width:527px;
    }
}

@media (min-width: 768px){
    .product-container{
        max-width:720px;
    }

    .image-wrapper{
        display:flex;
        justify-content: center;
        align-items: center;
        overflow:hidden;
        width:80vw;
        height:80vw;
        max-width:700px;
        max-height:700px;
        margin:20px 0;
        box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.2);
    }
    
    .image{
        display: flex;
        width:80vw;
        height:80vw;
        max-width:700px;
        max-height:700px;
        transition: all 0.5s ease;
    }
    
    .image figure{
        width:80vw;
        height:80vw;
        max-width:700px;
        max-height:700px;
        margin:0;
        background:black;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .image figure img{
        width:80vw;
        height:80vw;
        max-width:700px;
        max-height:700px;
    
    }

    .btn-wrapper{
        width:100%;
        display: flex;
        justify-content:flex-start;
        align-items: center;
        margin:20px 0;
    }

    .btn button{
        padding:20px 100px;
        font-size:16px;
        font-weight:700;
        letter-spacing: 1.3px;
        border:none;
        border-radius:30px;
        color:white;
        background-color:var(--m1);
        margin-right:13px;
        margin-bottom:5px;
    }
}

@media (min-width: 1180px){
    .product-container{
        width:95%;
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        padding-bottom:150px
    }

    .first{
        border-bottom:none;
        display:flex;
        justify-content: center;
        align-items: center;
        margin:0 20px;
    }

    .second{
        justify-content: flex-start;
        margin:0 20px;
        margin-top:20px;
    }

    /* Imágenes */
    
    .image-wrapper{
        display:flex;
        justify-content: center;
        align-items: center;
        overflow:hidden;
        width:80vw;
        height:80vw;
        max-width:600px;
        max-height:600px;
        margin:20px 0;
    }

    .image{
        display: flex;
        width:80vw;
        height:80vw;
        max-width:600px;
        max-height:600px;
        transition: all 0.5s ease;
    }
    
    .image figure{
        width:80vw;
        height:80vw;
        max-width:600px;
        max-height:600px;
        margin:0;
        background:black;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .image figure img{
        width:80vw;
        height:80vw;
        max-width:600px;
        max-height:600px;
    }

    /* Name & Brand */

    .title-wrapper{
        margin-top:0;
        margin-bottom:20px
    }

    .title{
        margin-bottom:7px
    }

    .title h2{
        margin:0;
        font-size:25px;
        text-transform: uppercase;
    }

    .brand{
        width:fit-content;
        padding:4px 7px;
        background: var(--m2);
    }

    .brand p{
        margin:0;
        font-size:14px;
        font-weight:600;
        letter-spacing:0.5px;
        color:white;
    }

    /* Details */

    .details-container{
        width:100%;
        margin-top:0px;
        margin-bottom:20px
    }

    .detail-wrapper{
        width:100%;
        display:flex;
        align-items: center;
    }

    .detail-wrapper:nth-child(1), .detail-wrapper:nth-child(2){
        margin-bottom:20px
    }

    .detail{
        display:flex;
        align-items: center;
        margin-bottom:10px
    }

    .category p, .sku p, .stock p, .quantity p{
        margin-bottom:0px
    }

    .detail i{
        margin-right:5px;
        color:rgb(26, 187, 26)
    }

    .description, .colors{
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-bottom:7px
    }

    .description p:nth-child(2){
        font-size:13px
    }

    .colors{
        width:100%;
        margin:0;
    }

    .colors-two{
        width:100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .colors-two figure{
        margin:0;
        width:25px;
        height:25px;
        border:1px solid rgba(0, 0, 0, 0.2)
    }

    .btn-wrapper{
        width:100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin:0;
        
    }

    .btn{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn button{
        padding:20px 80px;
        font-size:14px;
        font-weight:700;
        letter-spacing: 1.3px;
        border:none;
        border-radius:30px;
        color:white;
        background-color:var(--m1);
        margin-right:13px;
        margin-bottom:5px;
        cursor:pointer;
    }


    /* Related Products */
    .back{
        left:-590px
    }
    
    .forward{
        right:-590px
    }
    
    .related-products{
        width:1061px;
        max-width:1061px;
    }
}