<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./new.css">
    <link rel="stylesheet" href="./header.css">
    <link rel="stylesheet" href="./footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;400&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="header-container">
            <div class="navbar-container">
                <div class="navbar">
                    <div class="nav-center">
                        <form action="/search" method="POST" autocomplete="off">
                            <div class="search">
                                <div class="icon">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </div>
                                <div class="input">
                                    <input name="searched" type="text" placeholder="Buscá..." id="mySearch">
                                </div>
                                <span class="clear">
                                    <i class="fa-solid fa-xmark"></i>
                                </span>
                            </div>
                        </form>
                    </div>
                    <div class="nav-left">
                        <figure class="img-desktop">
                            <a href="/">
                                <img src="./logo-magus.png" alt="">
                            </a>
                        </figure>
                        <figure class="img-mobile">
                            <a href="/">
                                <img src="./Magus-logo.png" alt="">
                            </a>
                        </figure>
                    </div>
                    <div class="nav-right">
                        <div class="menu-mobile">
                            <i class="fa-solid fa-bars"></i>
                            <div class="moveleft-box">
                                <ul>
                                    <li class="catalog">Catálogo <i class="fa-solid fa-chevron-down"></i></li>
                                    <li class="drop">
                                        <div class="moveleft-container">
                                            <ul class="moveleft">
                                                <li><a href="/catalogo/1">Categorías</a></li>
                                                <li><a href="/catalogo/brands">Marcas</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <span>
                                            <a href="/presupuestador">Presupuestador</a>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                            
                        </div>
                        <div class="menu-desktop">
                            <ul>
                                <li>
                                    <div class="dropdown-container">
                                        <span>Catálogo</span>
                                        <ul class="dropdown">
                                            <li><a href="/catalogo/1">Categorías</a></li>
                                            <li><a href="/catalogo/brands">Marcas</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li><a href="/presupuestador">Presupuestador</a></li>
                                <li><a href="/contacto">Contacto</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <hr>
    <main>
        <div class="main-container">
            <div class="top">
                <h3>Catálogo</h3>
            </div>
            <div class="middle">
                <div class="products-container">
                    <!-- Catálogo -->
                    <div class="catalogue-section-wrapper">
                        <div class="articles-container">
                            <div class="product-wrapper">
                                <div class="product">
                                    <a href="/">
                                        <div class="product-middle-wrapper">
                                            <!-- IMAGEN -->
                                            <div class="product-image-wrapper">
                                                <div class="product-image">
                                                    <figure>
                                                        <img src="./image.jpg" alt="">
                                                    </figure>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-bottom-wrapper">
                                            <div class="product-titles-wrapper">
                                                <div class="product-title header-text">
                                                    <p>Product one</p>
                                                </div>
                                                <div class="product-title secondary-text">
                                                    <p>Brand 1</p>
                                                </div>
                                            </div>
                                            <div class="product-budget-btn">
                                                <button class="cotizar-button budget-btn">
                                                    <p>Presupuestar</p>
                                                </button>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="product-wrapper">
                                <div class="product">
                                    <a href="/">
                                        <div class="product-middle-wrapper">
                                            <!-- IMAGEN -->
                                            <div class="product-image-wrapper">
                                                <div class="product-image">
                                                    <figure>
                                                        <img src="./image2.jpg" alt="">
                                                    </figure>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-bottom-wrapper">
                                            <div class="product-titles-wrapper">
                                                <div class="product-title header-text">
                                                    <p>Product two</p>
                                                </div>
                                                <div class="product-title secondary-text">
                                                    <p>Brand 2</p>
                                                </div>
                                            </div>
                                            <div class="product-budget-btn">
                                                <button class="cotizar-button budget-btn">
                                                    <p>Presupuestar</p>
                                                </button>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="product-wrapper">
                                <div class="product">
                                    <a href="/">
                                        <div class="product-middle-wrapper">
                                            <!-- IMAGEN -->
                                            <div class="product-image-wrapper">
                                                <div class="product-image">
                                                    <figure>
                                                        <img src="./image3.jpg" alt="">
                                                    </figure>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-bottom-wrapper">
                                            <div class="product-titles-wrapper">
                                                <div class="product-title header-text">
                                                    <p>Product three long text to show if this works</p>
                                                </div>
                                                <div class="product-title secondary-text">
                                                    <p>Brand 3</p>
                                                </div>
                                            </div>
                                            <div class="product-budget-btn">
                                                <button class="cotizar-button budget-btn">
                                                    <p>Presupuestar</p>
                                                </button>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="product-wrapper">
                                <div class="product">
                                    <a href="/">
                                        <div class="product-middle-wrapper">
                                            <!-- IMAGEN -->
                                            <div class="product-image-wrapper">
                                                <div class="product-image">
                                                    <figure>
                                                        <img src="./image4.jpg" alt="">
                                                    </figure>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-bottom-wrapper">
                                            <div class="product-titles-wrapper">
                                                <div class="product-title header-text">
                                                    <p>Product four</p>
                                                </div>
                                                <div class="product-title secondary-text">
                                                    <p>Brand 4</p>
                                                </div>
                                            </div>
                                            
                                            <div class="product-budget-btn">
                                                <button class="cotizar-button budget-btn">
                                                    <p>Presupuestar</p>
                                                </button>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <!-- Botones de las Páginas -->
                        <div class="pages-btns-container">
                            <div class="pages-btns">
                                <div class="page-btn selected">
                                    <a role="link" aria-disabled="true">
                                        1
                                    </a>
                                </div>
                                <div class="page-btn">
                                    <a href="/catalogo/2">
                                        2
                                    </a>
                                </div>
                                <div class="page-btn">
                                    <a href="/catalogo/3">
                                        3
                                    </a>
                                </div>
                                <div class="dots">
                                    <p>...</p>
                                </div>
                                <div class="page-btn">
                                    <a href="/catalogo/45">
                                        45
                                    </a>
                                </div>
                            </div>
                            <div class="pages-btns-text">
                                <p>Mostrando 1-12 de 1480 resultados</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Categorías -->
                <div class="categories-container">
                    <div class="other-container">
                        <div class="categories-wrapper">
                            <div class="categories">
                                <div class="categoria">
                                    <div class="text">
                                        <a href="/catalogo/<%= categories[a].title %>/1">
                                            Categoría 1
                                        </a>
                                    </div>
                                    <div class="icon">
                                        <i class="fa-solid fa-plus"></i>
                                    </div>
                                </div>
                                <div class="categoria">
                                    <div class="text">
                                        <a href="/catalogo/<%= categories[a].title %>/1">
                                            Categoría 2
                                        </a>
                                    </div>
                                    <div class="icon">
                                        <i class="fa-solid fa-plus"></i>
                                    </div>
                                </div>
                                <div class="categoria">
                                    <div class="text">
                                        <a href="/catalogo/<%= categories[a].title %>/1">
                                            Categoría 3
                                        </a>
                                    </div>
                                </div>
                                <div class="categoria">
                                    <div class="text">
                                        <a href="/catalogo/<%= categories[a].title %>/1">
                                            Categoría 4
                                        </a>
                                    </div>
                                </div>
                                <div class="categoria">
                                    <div class="text">
                                        <a href="/catalogo/<%= categories[a].title %>/1">
                                            Categoría 5
                                        </a>
                                    </div>
                                </div>
                                <div class="categoria">
                                    <div class="text">
                                        <a href="/catalogo/<%= categories[a].title %>/1">
                                            Categoría 6
                                        </a>
                                    </div>
                                </div>
                                <div class="categoria">
                                    <div class="text">
                                        <a href="/catalogo/<%= categories[a].title %>/1">
                                            Categoría 7
                                        </a>
                                    </div>
                                </div>
                                <div class="categoria">
                                    <div class="text">
                                        <a href="/catalogo/<%= categories[a].title %>/1">
                                            Categoría 8
                                        </a>
                                    </div>
                                    <div class="icon">
                                        <i class="fa-solid fa-plus"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-container">
            <div class="redes">
                <figure>
                    <a href="https://www.facebook.com/Magus-Promociones-346269575740830/">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                    <a href="https://www.instagram.com/maguspromo/?hl=en">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a href="https://www.linkedin.com/company/magus-promociones/?originalSubdomain=ar">
                        <i class="fa-brands fa-linkedin-in"></i>
                    </a>
                </figure>
            </div>
            <div class="copy">
                <p><em>© 2022 Magus Promociones S.A. Todos los derechos reservados.</em></p>
            </div>
        </div>
    </footer>
    <script src="./headerSearchBar.js"></script>
    <script src="./menu.js"></script>
</body>
</html>