<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./new.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <title>Document</title>
</head>
<body>
    <main>
        <div class="main-container">
            <div class="middle">
                <div class="products-container">
                    <!-- Catálogo -->
                    <div class="catalogue-section-wrapper">
                        <div class="articles-container">
                            <div class="product-wrapper">
                                <div class="product">
                                    <a href="/">
                                        <div class="product-middle-wrapper">
                                            <!-- IMAGEN -->
                                            <div class="product-image-wrapper">
                                                <div class="product-image">
                                                    <figure>
                                                        <img src="./image.jpg" alt="">
                                                    </figure>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-bottom-wrapper">
                                            <div class="product-titles-wrapper">
                                                <div class="product-title header-text">
                                                    <p>Product one</p>
                                                </div>
                                                <div class="product-title secondary-text">
                                                    <p>Brand 1</p>
                                                </div>
                                            </div>
                                            <div class="product-description">
                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In distinctio voluptate totam dolore fuga temporibus, sed natus voluptatum amet aspernatur.</p>
                                            </div>
                                            <div class="product-budget-btn">
                                                <button class="cotizar-button budget-btn">
                                                    <p>Presupuestar</p>
                                                </button>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="product-wrapper">
                                <div class="product">
                                    <a href="/">
                                        <div class="product-middle-wrapper">
                                            <!-- IMAGEN -->
                                            <div class="product-image-wrapper">
                                                <div class="product-image">
                                                    <figure>
                                                        <img src="./image2.jpg" alt="">
                                                    </figure>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-bottom-wrapper">
                                            <div class="product-titles-wrapper">
                                                <div class="product-title header-text">
                                                    <p>Product two</p>
                                                </div>
                                                <div class="product-title secondary-text">
                                                    <p>Brand 2</p>
                                                </div>
                                            </div>
                                            <div class="product-description">
                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In distinctio voluptate totam dolore fuga temporibus, sed natus voluptatum amet aspernatur.</p>
                                            </div>
                                            <div class="product-budget-btn">
                                                <button class="cotizar-button budget-btn">
                                                    <p>Presupuestar</p>
                                                </button>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="product-wrapper">
                                <div class="product">
                                    <a href="/">
                                        <div class="product-middle-wrapper">
                                            <!-- IMAGEN -->
                                            <div class="product-image-wrapper">
                                                <div class="product-image">
                                                    <figure>
                                                        <img src="./image3.jpg" alt="">
                                                    </figure>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-bottom-wrapper">
                                            <div class="product-titles-wrapper">
                                                <div class="product-title header-text">
                                                    <p>Product three long text to show if this works</p>
                                                </div>
                                                <div class="product-title secondary-text">
                                                    <p>Brand 3</p>
                                                </div>
                                            </div>
                                            <div class="product-description">
                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In distinctio voluptate totam dolore fuga temporibus, sed natus voluptatum amet aspernatur.</p>
                                            </div>
                                            <div class="product-budget-btn">
                                                <button class="cotizar-button budget-btn">
                                                    <p>Presupuestar</p>
                                                </button>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="product-wrapper">
                                <div class="product">
                                    <a href="/">
                                        <div class="product-middle-wrapper">
                                            <!-- IMAGEN -->
                                            <div class="product-image-wrapper">
                                                <div class="product-image">
                                                    <figure>
                                                        <img src="./image4.jpg" alt="">
                                                    </figure>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-bottom-wrapper">
                                            <div class="product-titles-wrapper">
                                                <div class="product-title header-text">
                                                    <p>Product four</p>
                                                </div>
                                                <div class="product-title secondary-text">
                                                    <p>Brand 4</p>
                                                </div>
                                            </div>
                                            <div class="product-description">
                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In distinctio voluptate totam dolore fuga temporibus, sed natus voluptatum amet aspernatur.</p>
                                            </div>
                                            <div class="product-budget-btn">
                                                <button class="cotizar-button budget-btn">
                                                    <p>Presupuestar</p>
                                                </button>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <!-- Botones de las Páginas -->
                        <div class="pages-btns-container">
                            <div class="pages-btns">
                                <div class="page-btn selected">
                                    <a role="link" aria-disabled="true">
                                        1
                                    </a>
                                </div>
                                <div class="page-btn">
                                    <a href="/catalogo/2">
                                        2
                                    </a>
                                </div>
                                <div class="page-btn">
                                    <a href="/catalogo/3">
                                        3
                                    </a>
                                </div>
                                <div class="dots">
                                    <p>...</p>
                                </div>
                                <div class="page-btn">
                                    <a href="/catalogo/45">
                                        45
                                    </a>
                                </div>
                            </div>
                            <div class="pages-btns-text">
                                <p>Mostrando 1-12 de 1480 resultados</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Categorías -->
                <div class="categories-container">
                    <div class="other-container">
                        <div class="categories-wrapper">
                            <div class="categories">
                                <div class="categoria">
                                    <div class="text">
                                        <a href="/catalogo/<%= categories[a].title %>/1">
                                            Categoría 1
                                        </a>
                                    </div>
                                    <div class="icon">
                                        <i class="fa-solid fa-plus"></i>
                                    </div>
                                </div>
                                <div class="categoria">
                                    <div class="text">
                                        <a href="/catalogo/<%= categories[a].title %>/1">
                                            Categoría 2
                                        </a>
                                    </div>
                                    <div class="icon">
                                        <i class="fa-solid fa-plus"></i>
                                    </div>
                                </div>
                                <div class="categoria">
                                    <div class="text">
                                        <a href="/catalogo/<%= categories[a].title %>/1">
                                            Categoría 3
                                        </a>
                                    </div>
                                </div>
                                <div class="categoria">
                                    <div class="text">
                                        <a href="/catalogo/<%= categories[a].title %>/1">
                                            Categoría 4
                                        </a>
                                    </div>
                                </div>
                                <div class="categoria">
                                    <div class="text">
                                        <a href="/catalogo/<%= categories[a].title %>/1">
                                            Categoría 5
                                        </a>
                                    </div>
                                </div>
                                <div class="categoria">
                                    <div class="text">
                                        <a href="/catalogo/<%= categories[a].title %>/1">
                                            Categoría 6
                                        </a>
                                    </div>
                                </div>
                                <div class="categoria">
                                    <div class="text">
                                        <a href="/catalogo/<%= categories[a].title %>/1">
                                            Categoría 7
                                        </a>
                                    </div>
                                </div>
                                <div class="categoria">
                                    <div class="text">
                                        <a href="/catalogo/<%= categories[a].title %>/1">
                                            Categoría 8
                                        </a>
                                    </div>
                                    <div class="icon">
                                        <i class="fa-solid fa-plus"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>