:root{
    --m1:#9a47f4;
    --m1a:#610cbb;
    --m1b:#d3bfe7;
    --m2:#FEB129;
    --m2a:#ffbe4d;
    --m2b:#ffdb9e;
    --m3:#66a6d9;
    --m4:#e365c1;
    --m4a:#ffdbf5;
    --m5:#3b3c47;
    --m5a:#4d5061;
    --m5b:#dddee6;
}

/* EVERYTHING */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color:black;
}

li{
    list-style: none;
}


h3{
    color:var(--m5);
    font-size:30px;
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
}

body{
    font-family: 'Dosis', sans-serif;
}

body::-webkit-scrollbar {
    width: 0;
}

body::-webkit-scrollbar-thumb {
    outline: 1px solid rgba(112, 128, 144, 0.466);
}

main{
    margin-top:90px;
    padding-top:20px;
    min-height:100vh;
    min-width:360px;
    width:100%;
    max-width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background:rgb(248, 248, 248)
}

.text-danger{
    color:red;
}

/* MIDDLE */

.main-container, .middle, .products-container, .catalogue-section-wrapper{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
}

.middle{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.categories-container{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    border-top:1px solid rgba(0, 0, 0, 0.1);
}

.other-container{
    width:100%;
}

.categories-wrapper{
    width:100%;
    padding:10px;
    background:rgb(253,253,253);
}

.categories{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}



.categoria i{
    color: rgb(51, 51, 51);
    font-size:12px;
    padding:1px 2px;
    border:2px solid rgb(51, 51, 51);
    border-radius:3px;
}

.categoria{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:5px 0;
    margin:8px 1px;
    border-bottom:1px solid rgba(0,0,0,0.2)
}

.text a{
    font-size:20px;
    color:var(--m5)
}


/*-----------*/

.articles-container{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.product-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:5px;
    margin:5px;
}

.product{
    border:1px solid rgba(0, 0, 0, 0.1);
    border-bottom:none;
    border-radius:4px;
    display: flex;
    justify-content: center;
    align-items: center;
    width:252px;
    max-width:340px;
    background:rgb(253,253,253);
    transition:0.8s;
}

.product:hover{
    transform: scale(1.005);
    box-shadow: 3px 4px 6px -1px rgba(0,0,0,0.4);
    background: var(--m5);
    
}

.product a{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-titles-wrapper{
    margin-bottom:10px;
}

.header-text{
    font-size:20px;
    font-weight:900;
}

.header-text p{
    width:200px;
    max-width:340px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    margin-bottom:3px;
    margin-left:-15px;
    color:var(--m1a);
    transition:0.8s
}

.secondary-text p{
    font-size:14px;
    width:200px;
    max-width:340px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top:3px;
    margin-left:-10px;
    color:var(--m1);
    transition:0.8s
}

.product:hover .header-text p{
    color:var(--m2);
}

.product:hover .secondary-text p{
    color:var(--m2a);
}

.product-middle-wrapper{
    width:101%;
}

.product-image-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:200px
}

.product-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
}

.product-image figure{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width:80%;
    border-radius:8px;
    height:170px;
    transition:0.8s;
}

.product img{
    position:absolute;
    width:150px;
    height:150px;
}

.product-bottom-wrapper{
    margin-top:5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;

}

.product-description{
    display:flex;
    justify-content: center;
    align-items: center;
    margin:0 3px;
    height:0px;
    visibility:hidden;
    width:85%;
    overflow: hidden;
    padding:0;
    border-radius:4px;
    transition:1s;
}

.product:hover .product-description{
    height:70px;
    visibility: visible;
}

.product-description p{
    color:white;
    font-size:11px;
}

.product-budget-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width:101%;
}

.cotizar-button{
    width:100%;
    font-size:14px;
    font-weight:600;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:6px 0px;
    border-radius:4px;
    background: var(--m5a);
    color:white;
    border:none;
    
    cursor:pointer;
    transition: 0.8s;
}

.product:hover .cotizar-button{
    background: rgb(253,253,253);
    color:var(--m5);
    /*background: linear-gradient(313deg, rgba(171,80,185,1) 0%, rgba(125,80,185,1) 100%);*/
}

.pages-btns-container{
    width:95%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom:35px;
}

.pages-btns{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

.page-btn a{
    font-size:20px;
    font-weight:900;
    margin:0 5px;
    padding:5px 13px;
    border:1px solid rgba(0, 0, 0, 0.1);
    border-radius:3px;
    background-color: #ffffff;
    color:rgba(0, 0, 0, 0.75);
    transition:0.7s;
}

.page-btn a:hover{
    border:1px solid rgba(0, 0, 0, 0.2);
    box-shadow:  rgba(0, 0, 0, 0.5) 0px 2px 4px;
    background-color: #fdfdfd;
}

.selected a{
    color:white;
    border:1px solid rgba(0, 0, 0, 0.2);
    background-color: var(--m1);
    box-shadow:  rgba(0, 0, 0, 0.5) 0px 2px 4px;
}

.dots{
    font-size:22px;
    font-weight:900;
    margin:0 5px;
    padding:5px 11px;
    color:rgba(0, 0, 0, 0.75);
}

.pages-btns-text{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pages-btns-text p{
    font-size:18px
}

/* TABLET */

@media (min-width:768px){
    .articles-container{
        width:816px;
        display:flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
    }

    
}

/* MONITOR */

@media (min-width:1080px){
    body{
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    main{
        margin-top:90px;
        padding-top:20px;
        min-height:100vh;
        min-width:360px;
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .middle{
        width:100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .catalogue-section-wrapper{
        display:flex;
        justify-content: center;
        align-items: center;
        width:100%;
        max-width:100%;
    }

    .products-container{
        order:2;
        width:75%;
    }

    .articles-container{
        width:816px;
        display:flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
    }

    .pages-btns-container{
        width:100%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom:35px;
    }

    .categories-container{
        width:25%;
    }

    .other-container{
        width:100%;
    }

    .categories-wrapper{
        width:100%;
    }
}