:root{
    --m1:#9a47f4;
    --m1a:#610cbb;
    --m1b:#d3bfe7;
    --m2:#FEB129;
    --m2a:#ffbe4d;
    --m2b:#ffdb9e;
    --m3:#66a6d9;
    --m4:#e365c1;
    --m4a:#ffdbf5;
    --m5:#3b3c47;
    --m5a:#4d5061;
    --m5b:#dddee6;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color:black;
}

li{
    list-style: none;
}


h1, h2, h3, h5, h6{
    color:var(--m5);
    text-transform: uppercase;
}

body, h1, h2, h3, h4, h5, h6, p, a, input, textarea{
    font-family: 'Dosis', sans-serif;
}

body::-webkit-scrollbar {
    width: 0;
}

body::-webkit-scrollbar-thumb {
    outline: 1px solid rgba(112, 128, 144, 0.466);
}

main{
    margin-top:90px;
    padding:20px 0;
    min-height:100vh;
    min-width:360px;
    width:100%;
    max-width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background:rgb(248, 248, 248)
}

.budget-container{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.budget{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    padding:20px 0;
    width:100%;
    background:white;
    border:1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.form-container{
    width:90%;
    height:fit-content;
    display:flex;
    justify-content: center;
    align-items: center;
}

form{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom:20px;
}

.top{
    display:flex;
    justify-content: center;
    align-items: center;
}

.bottom{
    width:95%;
    max-width:625px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.client{
    height:fit-content;
    width:fit-content;
    display:flex;
    justify-content: center;
    align-items: center;
    margin:15px 15px;
}

.client .icon{
    height:33px;
    width:33px;
    border:1px solid rgba(0, 0, 0, 0.15);
    border-right:none;
    border-radius: 4px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background:white;
    display:flex;
    justify-content: center;
    align-items: center;
}

.client .input{
    height:33px;
}

.client i{
    font-size:14px;
    border-right:1px solid black;
    padding:0 5px;
}

.client input{
    border:1px solid rgba(0, 0, 0, 0.15);
    border-left:none;
    border-radius: 4px;
    height:33px;
    width:30vw;
    max-width:180px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    outline:none;
    font-weight:700;
}

.client input::placeholder{
    font-weight:700;
    color:black;
}

/*-- Second --*/

.second{
    margin-top:20px;
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo-principal, .titulos, .contenido, .comments-container{
    width:95%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.titulo-principal{
    margin-top:10px;
    margin-bottom:10px
}

.titulos .titles-box{
    width:95%;
    max-width:320px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.titles-box{
    padding-bottom:5px;
    border-bottom:1px solid rgba(0,0,0,0.4);
    margin-bottom:5px;
}

.titles-box h4:nth-child(4){
    width:20px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.contenido{
    width:95%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-info-content{
    width:95%;
    max-width:320px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 0;
    margin:8px 0;
    border-bottom:1px solid rgba(0,0,0,0.2);
}

.product-info-content:last-child{
    border-bottom:none;
}

.product-detail-wrapper{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.product-detail-wrapper h1{
    font-size:13px;
    max-width:80px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
}

.product-detail-wrapper h2{
    font-size:11px;
}

.product-detail-wrapper h3{
    font-size:9px;
}

.content-input-container input{
    text-align: center;
    outline:none;
    font-family: 'Dosis', sans-serif;
    box-shadow: 0 1px 6px 2px rgba(0,0,0,0.2);
    border:none;
}

/*
.content-input-container select{
    outline:none;
    border:1px solid rgba(0, 0, 0, 0.15);
}

.content-input-container option{
    font-size:10px;
    border:1px solid rgba(0, 0, 0, 0.15);
}
*/

.content-input-container{
    position:relative;
}

select{
    width:100%;
    height:25px;
    font-family: 'Dosis', sans-serif;
    box-shadow: 0 1px 6px 2px rgba(0,0,0,0.2);
    border:none;
    outline:none;
    appearance: none;
    font-style: italic;
    cursor:pointer;
    text-align: center;
    background:#ffffff;
    font-size:14px;
}

option:nth-child(1){
    font-style: italic;
}

.qty-container{
    position:relative;
}

.qty-container p{
    position:absolute;
    width:110px;
    font-size:9px;
    top:-15px;
    left:-11px
}

.delete-container{
    border:1px solid rgba(0, 0, 0, 0.15);
    border-radius:3px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.remove-input{
    font-size:13px;
}

.comments-container .comments label{
    font-size:14px;
}

.comments-container .comments textarea{
    width:100%;
    height:150px;
    outline:none;
    border:1px solid rgba(0, 0, 0, 0.15);
    border-radius:3px;
    padding:5px 3px;
    font-size:10px
}

.btns-container{
    width:85%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.btn{
    margin-top:10px;
    font-size:22px;
    border:none;
    background:none;
}

@media (min-width:768px){
    .first{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }

    .bottom{
        width:95%;
        max-width:625px;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    /*-- Second --*/

    .second{
        margin-top:20px;
        width:100%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .titulo-principal, .titulos, .contenido, .comments-container{
        width:95%;
        max-width:600px;
        display:flex;
        justify-content: center;
        align-items: center;
    }

    .titulo-principal{
        margin-bottom:15px
    }

    .titulos .titles-box{
        max-width:600px;
    }

    .titles-box{
        padding-bottom:5px;
        border-bottom:1px solid black;
        margin-bottom:5px;
    }

    .titles-box h4:nth-child(4){
        width:20px
    }

    .contenido{
        width:100%;
        max-width:600px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .product-info-content{
        max-width:600px;
    }

    .product-detail-wrapper{
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .product-detail-wrapper h1{
        font-size:13px;
    }

    .product-detail-wrapper h2{
        font-size:11px;
    }

    .product-detail-wrapper h3{
        font-size:9px;
    }

    .content-input-container input{
        text-align: center;
        outline:none;
        border:1px solid rgba(0, 0, 0, 0.15);
    }

    .content-input-container select{
        outline:none;
        border:1px solid rgba(0, 0, 0, 0.15);
    }

    .content-input-container option{
        font-size:10px;
        border:1px solid rgba(0, 0, 0, 0.15);
    }

    .qty-container{
        position:relative;
    }

    .qty-container p{
        position:absolute;
        width:110px;
        font-size:9px;
        top:-15px
    }

    .remove-input{
        font-size:13px;
        border:1px solid rgba(0, 0, 0, 0.15);
        border-radius:3px;
        display:flex;
        justify-content: center;
        align-items: center;
    }

    .comments{
        width:100%;
    }

    .comments-container .comments textarea{
        width:100%;
        height:150px;
        outline:none;
        border:1px solid rgba(0, 0, 0, 0.3);
        border-radius:3px;
        padding:5px 3px;
        font-size:10px
    }
}

@media (min-width:1050px){
    .budget-container{
        width:80%;
        display:flex;
        justify-content: center;
        align-items: center;
    }

    .bottom{
        width:95%;
        max-width:700px;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .client{
        height:fit-content;
        width:fit-content;
        max-width:225px;
        display:flex;
        justify-content: center;
        align-items: center;
        margin:15px 5px;
    }

    .client:nth-child(1), .client:nth-child(3){
        margin-right:90px;
    }

    .client:nth-child(2), .client:nth-child(4){
        margin-left:90px;
    }

    /*-- Second --*/

    .second{
        margin-top:20px;
        width:90%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .titulo-principal, .titulos, .contenido, .comments-container{
        width:95%;
        max-width:900px;
        display:flex;
        justify-content: center;
        align-items: center;
    }

    .titulo-principal{
        margin-bottom:20px;
    }

    .titulos .titles-box{
        max-width:900px;
    }

    .titles-box{
        padding-bottom:5px;
        border-bottom:1px solid black;
        margin-bottom:5px;
    }

    .titles-box h4:nth-child(4){
        width:20px;
    }

    .contenido{
        width:95%;
        max-width:900px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .product-info-content{
        max-width:900px;
    }

    .product-detail-wrapper{
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .product-detail-wrapper h1{
        font-size:13px;
    }

    .product-detail-wrapper h2{
        font-size:11px;
    }

    .product-detail-wrapper h3{
        font-size:9px;
    }

    .content-input-container input{
        text-align: center;
        outline:none;
        border:1px solid rgba(0, 0, 0, 0.15);
    }

    .content-input-container select{
        outline:none;
        border:1px solid rgba(0, 0, 0, 0.15);
    }

    .content-input-container option{
        font-size:10px;
        border:1px solid rgba(0, 0, 0, 0.15);
    }

    .qty-container{
        position:relative;
    }

    .qty-container p{
        position:absolute;
        width:110px;
        font-size:9px;
        top:-15px
    }

    .remove-input{
        font-size:13px;
        border:1px solid rgba(0, 0, 0, 0.15);
        border-radius:3px;
        display:flex;
        justify-content: center;
        align-items: center;
    }

    .comments{
        width:100%;
    }

    .comments-container .comments textarea{
        width:100%;
        height:150px;
        outline:none;
        border:1px solid rgba(0, 0, 0, 0.3);
        border-radius:3px;
        padding:5px 3px;
        font-size:10px
    }
}