:root{
    --m1:#9a47f4;
    --m2:#FEB129;
    --m3:#66a6d9;
    --m4:#e365c1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    background:rgb(240, 240, 240)
}

.main-container{
    min-height:84vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.form-container{
    display:flex;
    justify-content: center;
    align-items: center;
    
}

form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:white;
    border:1px solid black;
}

.client-info{
    display:flex;
    flex-direction: column;
}

.top-client-info{
    background-color: var(--m1);
    border:1px solid black;
}

.first-half-client-info{
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1.6px;
    display:flex;
    color:white;
    font-size:22px;
}

.first-half-client-info > * {
    margin-top:20px;
    margin-right:20px;
    margin-left:20px;
    margin-bottom:10px;
}

.second-half-client-info{
    display:flex;
    color:var(--m2)
}

.second-half-client-info > * {
    margin: 5px 7px;
}

.bottom-client-info{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border:1px solid black;
}

.info{
    width:30%;
    margin:5px 10px;
}

.products{
    width:90%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titles{
    width:100%;
    display:flex;
    justify-content: space-between;
    border:2px solid black;
    background:var(--m3)
}

.titles h2{
    border-right:1px solid black;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titles h2:nth-child(1){
    width:10%;
}

.titles h2:nth-child(2){
    width:40%;
}

.titles h2:nth-child(3){
    width:20%;
}

.titles h2:nth-child(4){
    width:15%;
}

.titles h2:nth-child(5){
    width:15%;
    border-right:none;
}

.product{
    width:100%;
    display: flex;
    justify-content: space-between;
    border:1px solid black;
}

.product p{
    border-right:1px solid black;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product p:nth-child(1){
    width:10%;
}

.product p:nth-child(2){
    width:40%;
}

.product p:nth-child(3){
    width:20%;
}

.product p:nth-child(4){
    width:15%;
}

.product input{
    width:15%;
    border:none;
    outline:none;
    text-align: center;
}

.totales{
    width:90%;
    display:flex;
    justify-content: flex-start;
}

.sub, .gan, .tot{
    display:flex;
}

button{
    width:fit-content;
    padding:5px 7px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2.8px;
    font-weight: 900;
    border:none;
    background-color: var(--m2)
}